<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="<%= root_path %>">
		<%= t(:app_name) %>
	</a>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<%= render partial: 'shared/navbar_game' if nav_show_game %>
			<%= render partial: 'shared/navbar_new' %>
		</ul>
	</div>
</nav>
