<p>
	<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#first-time" aria-expanded="false" aria-controls="first-time">
		First time?
	</button>
</p>
<div class="collapse" id="first-time">
	<div class="card card-body">
		<p><b>Don’t create the New Game on the big-screen device.</b> The spymaster should use the app on a smaller device to create and manage the game board. <%= link_to 'See here', about_path %> for more information.</p>
	</div>
</div>
