<h3>Contact</h3>

<p>I would love to get feedback on how this app works for people! Send email to <a href="mailto:codenames@nordist.net">codenames@nordist.net</a>:</p>
<ul>
	<li>If you’re reporting a problem, please tell me the device you were using, and as many details as you can remember about what happened.</li>
	<li>I’m especially interested in your ideas for useful features, or ways to improve how the app works.</li>
</ul>
