<div class="game-grid">
	<% Game::WIDTH.times do |x| %>
		<div class="col">
			<% Game::WIDTH.times do |y| %>
				<%= render partial: 'grid_cell', locals: {x: x, y: y} %>
			<% end %>
		</div>
	<% end %>
<div>
