<div class="game-grid">
	<% Game::WIDTH.times do |x| %>
		<div class="col">
			<% Game::WIDTH.times do |y| %>
				<%= render partial: 'grid_cell', locals: { game_word: @game.word_at_pos(x, y), color_setters: (defined?(color_setters) ? color_setters : false) } %>
			<% end %>
		</div>
	<% end %>
<div>
