	<div id="please-wait-jumbo">
		<div class="jumbotron">
			<h2 class="display-4">Please wait</h2>
			<p class="lead">The spymaster is setting up the game...</p>
			<%= image_tag('spy', width: 240) %>
		</div>
	</div>
