<div class="tip-top">Set the colors for each square</div>
<div id="setup-whos">
</div>
<%= render partial: 'game_grid', locals: { color_setters: true } %>
<script>
  $(document).ready(function () {
    set_color_setter_handlers();
  });

  function set_color_setter_handlers()
  {
    $(".setter").off('click').click(function (event) {
      var who = $(this).attr("data-who");
      var position = $(this).closest(".cell").attr("data-cell-id");
      $.ajax({
        method: "POST",
        url: "<%= set_who_game_url(@game, format: :js) %>",
        data: { position: position, who: who }
      })
      .done(function (data) {
        eval(data);
      })
      .fail(function (xhr) {
        $('#modal-error-title').html("Error setting color");
        $('#modal-error-text').html(xhr.responseText);
        $('#modal-error').on('shown.bs.modal', function (event) {
          $("#modal-error .modal-footer button").focus();
        }).modal();
      });
    });
  }
</script>
