<div class="tip-top">Enter the words for this game</div>
<div id="setup-words">
	<%= form_with url: set_word_game_path(@game, format: :js), remote: true, html: { autocomplete: 'off' } do |f| %>
		<div class="form-group">
			<label for="word"></label>
			<input id="next-word" name="word" type="text" class="form-control" placeholder="Enter next word" autofocus="autofocus" />
		</div>
		<noscript>
			<%= f.submit id: 'next-word-submit', class: 'btn btn-success' %>
		</noscript>
	<% end %>
</div>
<%= render partial: 'game_grid' %>
<script>
  $(document).ready(function () {
    return $("#setup-words form").on("ajax:success", function (event) {
      var data, status, xhr;
      [data, status, xhr] = event.detail;
      eval(data);
    }).on("ajax:error", function (event) {
      var data, status, xhr;
      [data, status, xhr] = event.detail;
      $('#modal-error-title').html("Error adding word");
      $('#modal-error-text').html(data);
      $('#modal-error').on('shown.bs.modal', function (event) {
	$("#modal-error .modal-footer button").focus();
      }).on('hidden.bs.modal', function (event) {
        $("#next-word").focus().select();
      }).modal();
    });
  });
</script>
