.spymaster-pin {
  text-align: center;

  .dashed-pin {
    margin: 0 auto;
    border: 1px solid;
    font-size: 120%;
    width: 30%;
  }
}

.spymaster-login {
  .hint {
    font-style: italic;
  }
  input {
    margin-top: 1em;
  }
}
