nav {
	margin-bottom: 1em;
}
#codenames-nav {
	@include media-breakpoint-up(sm) {
		display: none;
	}
}
#codenames-nav-sm {
	display: none;
	@include media-breakpoint-up(sm) {
		display: flex;
	}
}

#content {
	position: relative;

	.tip-top {
		position: absolute;
		top: -8px;
		border-radius: 6px;
		background-color: #aca;
		padding: 0 6px;

		&.only-xs {
			display: block;
			@include media-breakpoint-up(sm) {
				display: none;
			}
		}
	}
}

#first-time {
	margin-bottom: 1rem;
}
