nav {
	margin-bottom: 1em;
}

#content {
	position: relative;

	.tip-top {
		position: absolute;
		top: -8px;
		border-radius: 6px;
		background-color: #ccc;
		padding: 0 6px;

		&.only-xs {
			display: block;
			@include media-breakpoint-up(sm) {
				display: none;
			}
		}
	}
}
